<!DOCTYPE html>
<html lang="en">

<body>
    <%- include('partials/header')  -%>
    <div class="w-full m-auto max-w-4xl mb-5">
        <span class="text-green-700 p-4 rounded font-light text-2xl"><%=message%></span>
    </div>
    <form id="form" method="POST" action="/categoria-salvar" class="flex justify-center py-4 px-20 border rounded-sm flex-col w-full m-auto max-w-4xl mb-5">
        <h1 class="font-bold text-slate-700 text-2xl mb-4">Categorias</h1>
        <label>Chave</label>
        <input class="border outline-none border-gray-300 rounded p-2 mb-4 focus:ring-2 focus:border-blue-200 focus:ring-blue-200 transition duration-300 ease-in-out" name="chave" text="text" />
        
        <label>Valor</label>
        <input class="border outline-none border-gray-300 rounded p-2 mb-4 focus:ring-2 focus:border-blue-200 focus:ring-blue-200 transition duration-300 ease-in-out" name="valor" text="text" />

        <label>Campos Customizados</label>
        <div class="flex items-center mb-4">
            <input id="input" class="border outline-none border-gray-300 rounded p-2 focus:ring-2 focus:border-blue-200 focus:ring-blue-200 transition duration-300 ease-in-out" text="text" />
            <button id="button-add" class="ml-2 px-6 py-2 rounded cursor-pointer bg-slate-700 text-slate-200">Adicionar</button>
        </div>

        <div id="content" class="flex flex-col"></div>

        <div class="flex justify-center w-full">
            <input id="save" type="submit" value="Salvar" class="mt-4 px-6 py-2 rounded cursor-pointer bg-slate-700 text-slate-200" />
        </div>
    </form>
    <div class="m-auto max-w-6xl flex jusitify-center flex-col">
        <table class="mb-8 hover:border-collapse table-auto border border-gray-200 mt-4">
            <thead>
            <tr>
              <th class="py-2 px-8 border-b border-gray-200 bg-gray-100 text-zinc-600 font-normal">Chave</th>
              <th class="py-2 px-8 border-b border-gray-200 bg-gray-100 text-zinc-600 font-normal">Valor</th>
              <th class="py-2 px-8 border-b border-gray-200 bg-gray-100 text-zinc-600 font-normal">Campos customizados</th>
              <th class="py-2 px-8 border-b border-gray-200 bg-gray-100 text-zinc-600 font-normal">Deletar</th>
            </tr>
        </thead>
            <tbody class="text-center w-5">
            <% categorias.forEach(({ chave, valor, camposCustomizados }) => { %> 
            <input id="chave" type="hidden" value=<%= chave %> />
            <tr>
             <td class="font-normal border-b border-gray-200 text-lg py-3 px-3">
                 <%= chave %> 
             </td>
               <td class="font-normal border-b border-gray-200 text-lg py-3 px-3">
                <%= valor %> 
             </td>

             <td class="font-normal border-b border-gray-200 text-lg py-3 px-3 o">
                <% camposCustomizados?.forEach((element, index) => { %>
                    <p><%= element %></p> 
                <% }) %>
             </td>
             <td class="border-b border-gray-200"> 
                <button id="button-delete">
                    <div class="flex justify-center">
                        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
                    </div>
                </button>
             </td>
            </tr>
            <% }) %>
        
        </tbody>
      </table>

      

    <div class="container mx-auto px-4">
        <div id="popup-modal" tabindex="-1" class="hidden flex overflow-y-auto overflow-x-hidden fixed z-50 md:inset-0 h-modal md:h-full justify-center items-center" aria-hidden="true">
            <div class="relative p-4 w-full max-w-md h-full md:h-auto">
        
                <div class="relative bg-white rounded-lg shadow dark:bg-slate-800">
                    <div class="flex justify-end p-2">
                        <button type="button" id="close" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-toggle="popup-modal">
                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        </button>
                    </div>
        
                    <div class="p-6 pt-0 text-center">
                        <svg class="mx-auto mb-4 w-14 h-14 text-gray-400 dark:text-gray-200" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                        <h3 class="mb-5 text-lg font-normal text-gray-400">Deseja realmente deletar essa categoria?</h3>
                        <button id="confirm-delete" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">
                            Sim, eu quero.
                        </button>
                        <button id="cancel-delete" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

      <script>
        const form = document.querySelector('#form');
        const button = document.querySelector('#button-add');
        const input = document.querySelector('#input');
        const content = document.querySelector('#content'); 
        const save = document.querySelector('#save'); 
        const modal = document.querySelector('#popup-modal');  
        const close = document.querySelector('#close');  
        const confirm = document.querySelector('#confirm-delete');  
        const cancel = document.querySelector('#cancel-delete');  
        const buttonDelete = document.querySelector('#button-delete'); 
        const chave = document.querySelector('#chave'); 

        let valorCampo = '';

        buttonDelete.addEventListener('click', (evento) => {
            modal.classList.remove('hidden')
        })

        close.addEventListener('click', (evento) => {
            modal.classList.add('hidden')
        })

        confirm.addEventListener('click', (evento) => {
            window.location.href = `/categoria-deletar/${chave.value}`
        })

        cancel.addEventListener('click', (evento) => {
            modal.classList.add('hidden')
        })

        form.addEventListener('submit', (evento) => {
            evento.preventDefault()
        })

        save.addEventListener('click', (evento) => {
            form.submit();
        })


        button.addEventListener('click', () => {
            if (!valorCampo) {
                return;
            }

            let field = document.createElement('input');
            const format = valorCampo.replace(/\s/g, '-');
            field.type = 'text';
            field.name=`${format}`
            field.value=`${valorCampo}`
            field.readOnly = true
            field.className="bg-white px-4 outline-none"

            content.append(field);
            input.value = ''
            valorCampo = '';
        })
        
        input.addEventListener('change', (evento) => {
            valorCampo += evento.target.value;
            console.log(valorCampo);
        });

      </script>
</body>
</html>