<!DOCTYPE html>
<html lang="en">
<body>
  <%- include('partials/header')  -%> 
   <form method="POST" action="/produto-editar" class="flex justify-center py-4 px-20 border rounded-sm flex-col w-full m-auto max-w-4xl">
    <input type="hidden" name="id" class="border rounded p-2 mb-4 border-slate-300" value=<%= produtoEditado.id %> />
    
    <label>Nome</label>
    <input type="text" name="nome" class="border rounded p-2 mb-4 border-slate-300" value=<%= produtoEditado.nome %>  />
  
    <label>Descrição</label>
    <textarea rows="3" cols="50"  class="border rounded p-2 mb-4 border-slate-300 resize-none" name="descricao">
      <%= produtoEditado.descricao %>
    </textarea>
    
    <label>Preço</label>
      <input type="text" class="border rounded p-2 mb-4 border-slate-300" name="preco" value=<%= produtoEditado.preco %> />

    <select name="categoria" class="border rounded p-2 mb-4 border-slate-300">
      <% categorias.forEach(element => { %>
        <option 
          selected=<%= produtoEditado.categoria === element.valor ? produtoEditado.categoria : element.valor %> 
          value=<%= element.valor %> 
        >
          <%= produtoEditado.categoria === element.valor ? produtoEditado.categoria : element.valor %>
        </option>
      <% }) %>
    </select>
  
    <div class="flex justify-center w-full">
      <input type="submit" value="Editar" class="mt-4 px-6 py-2 rounded cursor-pointer bg-slate-700 text-slate-200" />
    </div>
  </form>
</body>
</html>