<!DOCTYPE html>
<html lang="en">
<body>

   <%- include('partials/header')  -%> 
   <div class="m-auto max-w-7xl flex jusitify-center flex-col">
   
   
          <span class="font-bold text-slate-700 text-2xl mb-4">
        <%= produtos.length <= 0 ? 'Nenhum produto cadastrado' : ''%>
       </span>
    <table class="hover:border-collapse table-auto border-collapse border border-slate-100 border-collapse mt-7" border="">
        <thead>
        <tr>
          <th class="py-2 px-8 bg-gray-200 text-zinc-600 font-normal">ID</th>
          <th class="py-2 px-8 bg-gray-200 text-zinc-600 font-normal">Nome</th>
          <th class="py-2 px-8 bg-gray-200 text-zinc-600 font-normal">Descrição</th>
          <th class="py-2 px-8 bg-gray-200 text-zinc-600 font-normal">Categoria</th>
          <th class="py-2 px-8 bg-gray-200 text-zinc-600 font-normal">Preço</th>
          <th class="py-2 px-8 bg-gray-200 text-zinc-600 font-normal">Editar</th>
        </tr>
    </thead>
        <tbody class="text-center w-5">
            <% produtos.forEach(element => { %> 
            <tr>
                <td class="font-normal text-lg py-3 px-3">
                    <%= element.id %> 
                </td>
                <td class="font-normal text-lg">
                    <%= element.nome %> 
                </td>

                <td class="font-normal text-lg">
                    <%= element.descricao %> 
                </td>
                <td class="font-normal text-lg">
                    <%= element.categoria %> 
                </td>
                <td class="font-normal text-lg">
                    R$ <%= element.preco %> 
                </td>
                <td> <a href=<%=`/produto-editar?id=${element.id}` %>>
                    <div class="flex justify-center">
                        <svg class="w-6 h-6" style="width: 22px;" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z"></path></svg>
                    </div>
                </a>
                </td>
                </td>
            </tr>
            <% }) %>
        
        </tbody>
    </table>
    <button class="mt-6 ml-3">
        <a style="text-decoration: none;" class="p-2 bg-slate-700 rounded text-slate-200" href="/produto-criar">
            Cadastrar produto
        </a>
    </button>
</div>
</body>
</html>