<!DOCTYPE html>
<html lang="en">
<body>
  <%- include('partials/header')  -%> 
  
  <form method="POST" action="/produto-editar" class="flex justify-center py-4 px-20 border rounded-sm flex-col w-full m-auto max-w-4xl">
    <h1 class="font-bold text-slate-700 text-2xl mb-4">Editar produto</h1>
    <input type="hidden" name="id" class="border rounded p-2 mb-4 border-slate-300" value=<%= produtoEditado.id %> />
    
    <label>Nome</label>
    <input type="text" name="nome" class="border outline-none border-gray-300 rounded p-2 mb-4 focus:ring-2 focus:border-blue-200 focus:ring-blue-200 transition duration-300 ease-in-out" value=<%= produtoEditado.nome %>  />
  
    <label>Descrição</label>
    <textarea maxlength="120" rows="2" cols="20" class="border outline-none border-gray-300 rounded p-2 mb-4 focus:ring-2 focus:border-blue-200 focus:ring-blue-200 transition duration-300 ease-in-out resize-none" name="descricao"><%= produtoEditado.descricao.trim() %></textarea>
    
    <label>Preço</label>
      <input type="text" class="border outline-none border-gray-300 rounded p-2 mb-4 focus:ring-2 focus:border-blue-200 focus:ring-blue-200 transition duration-300 ease-in-out" name="preco" value=<%= produtoEditado.preco %> />

    <select id="select-categoria" name="categoria" class="border outline-none border-gray-300 rounded p-2 mb-4 focus:ring-2 focus:border-blue-200 focus:ring-blue-200 transition duration-300 ease-in-out">
      <% categorias.forEach(element => { %>
        <option 
          <%= element.valor === produtoEditado.categoria ? 'selected' : ''%> 
          value=<%= element.valor %> 
        >
          <%= element.valor %>
        </option>
      <% }) %>
      <input id="categorias-input" type="hidden" value=<%= camposCustomizados %> />
      <input id="categorias-input-custom" type="hidden" value=<%= camposCustom %> />
    </select>

    <div id="campos-customizados"></div>
  
    <div class="flex justify-center w-full">
      <a href="/produtos" class="mt-4 px-6 py-2 rounded cursor-pointer border border-slate-700 text-slate-700 hover:bg-slate-700 hover:text-slate-200 mr-4 transition-all">Voltar</a>
      <input type="submit" value="Editar" class="mt-4 px-6 py-2 rounded cursor-pointer bg-slate-700 text-slate-200" />
    </div>
  </form>

  <script>
    const selectCategoria = document.querySelector("#select-categoria");
    const camposCustomizado = document.querySelector("#campos-customizados");
    const categoriasInput = document.querySelector("#categorias-input");
    const categoriasInputCustom = document.querySelector("#categorias-input-custom");

    const campos = JSON.parse(categoriasInput.value);
    const camposCustom = JSON.parse(categoriasInputCustom.value);
    let campoSelecionado = '';

    window.onload = function() {
      mostraCamposCustomizados();
    };

    const filter = (value) => {
      return camposCustom.filter(item => item.valor === value)
    };

    
    selectCategoria.addEventListener('change', (evento) => {
      if (filter(evento.target.value).length <= 0) {
        campoSelecionado = evento.target.value;
        camposCustomizado.className = 'hidden';
        return;
      }

      if (filter(evento.target.value).length > 0) {
        campoSelecionado = evento.target.value;
        mostraCamposCustomizados();
        return;
      }
      
      filter(evento.target.value).forEach(item => {
        camposCustomizado.innerHTML = '';
        item.campos.forEach(campo => {
          let input = document.createElement('input');
          let wrapper = document.createElement('div');
          let label = document.createElement('label');
        
          label.textContent = campo.replace(/\-/g, ' ');
          input.type = 'text';
          input.name = campo;
          input.className="ml-3 border outline-none border-gray-300 rounded p-2 mb-4 focus:ring-2 focus:border-blue-200 focus:ring-blue-200 transition duration-300 ease-in-out"
          
          label.append(input)
          camposCustomizado.className = 'flex flex-col border border-gray-300 p-4'
          wrapper.appendChild(label)
          
          camposCustomizado.appendChild(wrapper);
        })
      })
    })

    function mostraCamposCustomizados() {
      camposCustomizado.innerHTML = '';

      if (campos.length <= 0 && campoSelecionado) {
        camposCustom.forEach(item => {
          item.campos.forEach(campo => {
            let input = document.createElement('input');
            let wrapper = document.createElement('div');
            let label = document.createElement('label');

            label.textContent = campo
            input.type = 'text';
            input.value = ''
            input.name = campo;
            input.className="ml-3 border outline-none border-gray-300 rounded p-2 mb-4 focus:ring-2 focus:border-blue-200 focus:ring-blue-200 transition duration-300 ease-in-out"

            label.append(input)

            camposCustomizado.className = 'flex flex-col border border-gray-300 p-4'
            wrapper.appendChild(label)

            camposCustomizado.appendChild(wrapper);
          })
        })
        return;
      }
      
      campos.forEach(item => {
        for(let key in item) {
          let input = document.createElement('input');
          let wrapper = document.createElement('div');
          let label = document.createElement('label');

          label.textContent = key
          input.type = 'text';
          input.value = item[key]
          input.name = item[key];
          input.className="ml-3 border outline-none border-gray-300 rounded p-2 mb-4 focus:ring-2 focus:border-blue-200 focus:ring-blue-200 transition duration-300 ease-in-out"

          label.append(input)

          camposCustomizado.className = 'flex flex-col border border-gray-300 p-4'
          wrapper.appendChild(label)

          camposCustomizado.appendChild(wrapper);
        }
     })
    }

  </script>
</body>
</html>